.chart {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(120, 1fr) 10fr;
  grid-column-gap: 3em;
  height: 20em;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  margin: 3em auto 0;
}

.chart [class*="bar"] {
  grid-row-start: 1;
  grid-row-end: 121;
  /* border-radius: 5px 5px 0 0; */
  background-color: #ff4136;
}

.chart [class*="label"] {
  grid-row-start: 121;
  grid-row-end: 122;
  justify-self: center;
}

