
.userlist-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 1em;
}

.userlist-button {
  color: limegreen;
  cursor: pointer;
  padding: 0.5em;
  opacity: 0.4;
}

.userlist {
  display: flex;
  flex-direction: column;
}

.userlist > * {
  display: flex;
  background-color: #fcf8f4;
  border-bottom: 0.2px solid lightgray;
}

.active-user {
  background-color: #effcf4;
}

.active-user .userlist-button {
  visibility: hidden;
}
