.userlist-button {
  color: limegreen;
  cursor: pointer;
  border: 0.5px solid limegreen;
  margin: 1em;
  padding: 0.5em;
  opacity: 0.4;
}

.userlist {
  display: flex;
  flex-direction: column;
}

.userlist > * {
  display: flex;
  background-color: #fcf8f4;
  border: 0.5px solid black;
}

.active-user {
  background-color: #effcf4;
}

.active-user .userlist-button {
  /* display: none; */
  visibility: hidden;
}
