.report > div {
  padding: .5rem;
}

table, th, td {
  border:1px solid black;
}

th, td {
  padding: 1rem;
  text-align: left;
}

.low {
  background-color: lightblue;
}

.high {
  background-color: pink;
}

.neutral {
  background-color: lightgray;
}