.report > div {
  padding: 0 1em 3.5em;
}

.domain-heading {
  display: flex;
  border-bottom: 1px solid gray;
  margin-bottom: 1em;
}

.domain-heading h2 {
  margin-bottom: 0;
}

table, th, td {
  border:1px solid black;
}

th, td {
  padding: 1rem;
  text-align: left;
}

.low {
  background-color: lightblue;
}

.high {
  background-color: pink;
}

.neutral {
  background-color: lightgray;
}

.low, .high, .neutral {
  padding: .3em;
  margin-left: .8em;
}